<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WeSPOTInquiryServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTInquiryServlet</servlet-name>
		<url-pattern>/cron/wespotinquirybadges</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeSPOTFirstPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTFirstPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTFirstPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotfirstphasebadges</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeSPOTSecondPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTSecondPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTSecondPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotsecondphasebadges</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeSPOTThirdPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTThirdPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTThirdPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotthirdphasebadges</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeSPOTFourthPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTFourthPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTFourthPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotfourthphasebadges</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WeSPOTFifthPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTFifthPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTFifthPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotfifthphasebadges</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WeSPOTSixthPhaseServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.WeSPOTSixthPhaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeSPOTSixthPhaseServlet</servlet-name>
		<url-pattern>/cron/wespotsixthphasebadges</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>BadgesService</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
		    <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
		    <param-value>true</param-value>
		</init-param>
	    <init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>org.be.kuleuven.hci.openbadges.services</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>BadgesService</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
  	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
