/Copy of listAwardedBadgesPerStudentTeacher.jsp
/createBadges.jsp
/favicon.ico
/index.html
/listAwardedBadgesPerStudent.jsp_
/listAwardedBadgesPerUser.jsp_
/listAwardedBadgesPerUser.jsp_v2
/listJSONAwardedBadges.jsp
/menu.jsp_
/template.html
/listAwardedBadgesPerStudent.jsp
/listAwardedBadges.jsp
