<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>OpenBadgesAPI</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.OpenBadgesAPIServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AwardBadgeServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.AwardBadgeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyBadgeServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.CopyBadgesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenBadgesAPI</servlet-name>
		<url-pattern>/openbadgesapi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AwardBadgeServlet</servlet-name>
		<url-pattern>/awardbadges</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyBadgeServlet</servlet-name>
		<url-pattern>/copybadges</url-pattern>
	</servlet-mapping>
	<servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet>
    <servlet-name>UploadWeSPOT</servlet-name>
    <servlet-class>org.be.kuleuven.hci.openbadges.badgestore.UploadWeSPOT</servlet-class>
  </servlet>  
 <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>org.be.kuleuven.hci.openbadges.badgestore.Upload</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>org.be.kuleuven.hci.openbadges.badgestore.Serve</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>UploadWeSPOT</servlet-name>
    <url-pattern>/uploadwespot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>BadgesService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	    <servlet-name>BadgesService</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>org.be.kuleuven.hci.openbadges.services</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
</web-app>